<!doctype html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5">


	<title>$if(title-prefix)$$title-prefix$ - $endif$$pagetitle$</title>

	$if(scctemplate.seo.description)$
	<meta name="description" content="$scctemplate.seo.description$">
	$endif$

	$if(scctemplate.seo.keywords)$
	<meta name="keywords" content="$for(scctemplate.seo.keywords)$$scctemplate.seo.keywords$, $endfor$">
	$endif$

	$for(author-meta)$
	<meta name="author" , content="$authout-meta$">
	$endfor$

	<!-- RStudio's default scripts and style sheets -->
	$for(header-includes)$
	$header-includes$
	$endfor$

	<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Source+Sans+Pro:bold,400|Open+Sans&display=swap">
	<link rel="stylesheet" href="template_libs/scc/css/styles.css" type="text/css" />
	<link rel="stylesheet" href="template_libs/scc/css/bootstrap-select.css" media="screen" type="text/css" />
	<link rel="stylesheet" href="template_libs/scc/css/bootstrap.css" media="screen" type="text/css" />
	<link rel="stylesheet" href="template_libs/scc/css/bootstrap-theme.css" media="screen" type="text/css" />
	<link rel="stylesheet" href="template_libs/scc/css/print-styles.css" type="text/css" />

	<!-- $if(scctemplate.navigation.toc.sticky)$
	<style type="text/css">
		@media (min-width: 768px) {
			.content-page-wrapper .page-content .right-column .section-navigation {
				position: sticky;
				top: 16px;
			}
		}
	</style>
	$endif$ -->

</head>

<!-- Page top section -->
<!-- Contains: Notifications; header; navigation elements (except breadcrumbs) -->
<!-- Header -->
<div class="site-header" aria-label="Header" role="Header">

	<div class="hidden-print">
		<div class="container header-menu">
			<div class="row header-row">
				<div class="col-xs-8 col-sm-10 col-md-6 col-lg-8 site-logo">
					<a href="/" title="Suffolk County Council">
						<i class="sccicon sccicon-no-border sccicon-suffolk-county-council">
							Suffolk County Council
						</i>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>

</header>

<body>
	<a name="content"></a>
	<div class="content-page-wrapper" id="scc-page-wrapper">

		<div class="breadcrumbs-wrapper">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-lg-12">
						<div class="breadcrumbs">
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="page-intro">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						$if(title)$
						<h1 style="text-align:left;">
							$title$
						</h1>
						$endif$

						$if(subtitle)$
						<h3 style="text-align:left;">
							$subtitle$
						</h3>
						$endif$

						$if(author)$
						<dt class="text-align:left;">
							Authors
						</dt>
						$for(author)$
						<dd class="text-align:left;">
							$author$
						</dd>
						$endfor$
						$endif$
					</div>
				</div>
			</div>
		</div>

		<div class="container page-content">
			<div class="row">
				<!-- Main Body -->
				<div class="col-xs-12 col-sm-12 col-md-8 col-lg-9 left-column">
					$body$
				</div>
				<!-- Sidebar -->
				<!-- Contains automatically-generated table of contents -->
				<div class="col-xs-12 col-sm-12 col-md-4 col-lg-3 right-column hidden-print hidden-xs hidden-sm">
					<div class="section-navigation hidden-xs hidden-sm">

						<nav class="section-menu">
							$if(toc_float)$
							<div id="TOC" class="collapse section-menu"></div>
							$else$
							$toc$
							$endif$
						</nav>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>