<!doctype html>
<html lang="en">


<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5">


	<title>$if(title-prefix)$$title-prefix$ - $endif$$pagetitle$</title>

	$if(scctemplate.seo.description)$
	<meta name="description" content="$scctemplate.seo.description$">
	$endif$

	$if(scctemplate.seo.keywords)$
	<meta name="keywords" content="$for(scctemplate.seo.keywords)$$scctemplate.seo.keywords$, $endfor$">
	$endif$

	$for(author-meta)$
	<meta name="author" , content="$authout-meta$">
	$endfor$

	<!-- RStudio's default scripts and style sheets -->
	$for(header-includes)$
	$header-includes$
	$endfor$

	<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Source+Sans+Pro:bold,400|Open+Sans&display=swap">
	<link rel="stylesheet" href="template_libs/scc/css/styles.css" type="text/css" />
	<link rel="stylesheet" href="template_libs/scc/css/bootstrap-select.css" media="screen" type="text/css" />
	<link rel="stylesheet" href="template_libs/scc/css/bootstrap.css" media="screen" type="text/css" />
	<link rel="stylesheet" href="template_libs/scc/css/bootstrap-theme.css" media="screen" type="text/css" />
	<link rel="stylesheet" href="template_libs/scc/css/print-styles.css" type="text/css" />
</head>

$if(scctemplate.navigation.toc.sticky)$
<style type="text/css">
	@media (min-width: 768px) {
		nav.ds_side-navigation {
			position: sticky;
			top: 16px;
		}
	}
</style>
$endif$

<!-- Page top section -->
<!-- Contains: Notifications; header; navigation elements (except breadcrumbs) -->
<!-- Header -->
<div class="site-header" aria-label="Header" role="Header">
	$if(scctemplate.header.site_branding)$
	$scctemplate.header.site_branding$
	$else$
	Suffolk County Council
	$endif$

	<div class="hidden-print">
		<ul class="social-icons hidden-xs hidden-sm">
			<li class="text"><a href="/planning-waste-and-environment/open-data/#content">Skip to main content</a></li>
		</ul>
		<div class="container header-menu">
			<div class="row header-row">
				<div class="col-xs-2 col-sm-1 hidden-md hidden-lg hamburger">
					<a href="/planning-waste-and-environment/open-data/#" title="Show Menu"
						class="header-menu-button collapsed show-menu hidden-md hidden-lg" aria-controls="navbar"
						aria-expanded="false" data-target="#navbar" data-toggle="collapse">
						<i class="fa fa-bars"></i>
						<p>MENU</p>
					</a>
				</div>

				<div class="col-xs-8 col-sm-10 col-md-6 col-lg-8 site-logo">
					<a href="/" title="Suffolk County Council">
						<i class="sccicon sccicon-no-border sccicon-suffolk-county-council">
							Suffolk County Council
						</i>
					</a>
				</div>


				<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">


					<form name="site-search" id="SCCSearchForm" enctype="application/x-www-form-urlencoded" method="get"
						action="https://search.suffolk.gov.uk/" grole="form">
						<div class="input-group">
							<label for="SCCSearchForm" class="hidden">Search: </label>
							<input type="text" class="form-control site-search" name="q"
								aria-labelledby="SCCSearchForm">
							<span class="input-group-btn">
								<button class="btn scc-red-btn" name="action_results" type="submit">
									<p>Search</p>
								</button>
							</span>
						</div>
					</form>

				</div>

			</div>
		</div>
	</div>
</div>

</div>

<!-- Elements included before the body -->
<!-- Includes Bootstrap / default RStudio navbar -->
$if(include-before)$
<div class="ds_wrapper">
	$for(include-before)$
	$include-before$
	$endfor$
</div>
$endif$


</header>




<body>
	<div class="container page-content">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-8 col-lg-9 left-column">
				$body$
			</div>
		</div>
	</div>
</body>