<!doctype html>
<html lang="en">
    <head>
        <base href="https://www.suffolk.gov.uk/">
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5">
        <title>Suffolk County Council  | Suffolk County Council</title>
        <meta name="description" content="Find local government services and information.">
        <meta name="keywords" content="">
        
        <meta name="HandheldFriendly" content="True">
        <meta name="MobileOptimized" content="320">
        <meta name="eGMS.Identifier" content="https://www.suffolk.gov.uk/">
        <meta name="eGMS.Creator" content="Suffolk County Council">
        <meta name="eGMS.Publisher" content="Suffolk County Council">
        <meta name="eGMS.Title" content="Suffolk County Council">
        <meta name="eGMS.Description" content="Find local government services and information.">
        <meta name="eGMS.Subject.Keyword" content="">
        <meta name="eGMS.Subject.Category" scheme="IPSV" content="County councils">
        <meta name="eGMS.Subject.Service" scheme="LGSL" content="Council websites - accessibility">
        <meta name="eGMS.Accessibility" scheme="WCAG2.0" content="Double-A">
        <meta name="eGms.Coverage.Spatial" content="">
        <meta name="eGMS.Date.Issued" content="">
        <meta name="eGMS.Date.Modified" content="2022-11-02T11:05:22+00:00">
        <link rel="profile" href="http://microformats.org/profile/hatom">
        <link rel="profile" href="http://microformats.org/profile/hcard">
        <link rel="shortcut icon" href="/favicon.ico">
        <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Source+Sans+Pro:bold,400|Open+Sans&display=swap">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="/themes/refresh/assets/css/styles.css" type="text/css" />
        <link rel="stylesheet" href="/themes/refresh/assets/css/bootstrap-select.css" media="screen" type="text/css" />
        <link rel="stylesheet" href="/themes/refresh/assets/css/bootstrap.css" media="screen" type="text/css" />
        <link rel="stylesheet" href="/themes/refresh/assets/css/bootstrap-theme.css" media="screen" type="text/css" />
        <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/smoothness/jquery-ui.css" />
        <link rel="stylesheet" href="/themes/refresh/assets/css/print-styles.css" type="text/css" />

        <!--[if lt IE 9]>
        <script src="/themes/refresh/assets/js/html5shiv.js"></script>
        <script src="/themes/refresh/assets/js/respond.js"></script>
        <![endif]-->

        <!--[if lte IE 8]>
        <style>
            .service-tile a i { margin: 0 0.35em 0 0; }
            .sccicon { border: 0.2em solid transparent; }
            .sccicon-no-border { border: 0; }
        </style>
        <![endif]-->

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
        <script type="text/javascript" src="/themes/refresh/assets/js/combined.min.js"></script>
        <script type="text/javascript" src="/themes/refresh/assets/js/accessible-accordion.js"></script>

        <!-- cookie control code -->
        <script src="https://cc.cdn.civiccomputing.com/9/cookieControl-9.5.min.js"></script> 
        <script type="text/javascript" src="/themes/refresh/assets/js/cookie-control.js"></script>

    <style>.cms .jstree ul li.class-SCCRedirectorPage { display: none; }</style>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=places&sensor=false&region=GB"></script>
</head>
    <body class="home" id="273">
        
        <!-- Google Tag Manager -->
        <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-NN3CV9" title="Google Tag Manager"
        height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        <script type="text/javascript">//<![CDATA[
window.SCCPageID = 273;

//]]></script><script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-NN3CV9');</script>
        <!-- End Google Tag Manager -->
        
        <!--SITE HEADER-->
<div class="site-header" aria-label="Header" role="Header">
	

	<div class="hidden-print">
        <ul class="social-icons hidden-xs hidden-sm">
            <li class="text"><a href="/#content">Skip to main content</a></li>
        </ul>
		<div class="container header-menu">
			<div class="row header-row">
				<div class="col-xs-2 col-sm-1 hidden-md hidden-lg hamburger">
					<a href="/#" title="Show Menu" class="header-menu-button collapsed show-menu hidden-md hidden-lg" aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse">
						<i class="fa fa-bars"></i>
						<p>MENU</p>
					</a>
				</div>

				<div class="col-xs-8 col-sm-10 col-md-6 col-lg-8 site-logo">
					<a href="/" title="Suffolk County Council">
						<i class="sccicon sccicon-no-border sccicon-suffolk-county-council">
							Suffolk County Council
						</i>
					</a>
				</div>


				<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">

					
				</div>
				
<div class="hidden-md hidden-lg navbar-collapse collapse" id="navbar" aria-expanded="true" style="">
	<ul class="nav navbar-nav" role="menu">
		
		<li class="dropdown" role="menuitem">
			<a href="/children-families-and-learning/" aria-expanded="false" role="button" data-toggle="dropdown" class="dropdown-toggle">
				Children, families and learning
				<span class="i-wrapper">
					<i class="fa fa-plus"></i>
					<i class="fa fa-minus"></i>
				</span>
			</a>
			
			<ul role="menu" class="dropdown-menu">
				
					<li role="menuitem">
	<a href="/children-families-and-learning/schools/" title="Schools">
		Schools
	</a>
	
</li>
				
					<li role="menuitem">
	<a href="/children-families-and-learning/childcare-information-and-support-for-parents-and-providers/" title="Childcare information and support for parents and providers">
		Childcare information and support for parents and providers
	</a>
	
</li>
				
					<li role="menuitem">
	<a href="/children-families-and-learning/send-and-the-local-offer/" title="Special educational needs and disabilities (SEND) and the Local Offer">
		Special educational needs and disabilities (SEND) and the Local Offer
	</a>
	
</li>
				
					<li role="menuitem">
	<a href="/children-families-and-learning/childrens-health/" title="Children&#039;s health and children&#039;s centre services">
		Children's health and children's centre services
	</a>
	
</li>
				
					<li role="menuitem">
	<a href="/children-families-and-learning/fostering-and-adoption/" title="Fostering and Adoption">
		Fostering and Adoption
	</a>
	
</li>
				
					<li role="menuitem">
	<a href="/children-families-and-learning/family-hubs/" title="Family Hubs">
		Family Hubs
	</a>
	
</li>
				
					<li role="menuitem">
	<a href="/children-families-and-learning/keeping-children-safe/" title="Keeping children safe">
		Keeping children safe
	</a>
	
</li>
				
					<li role="menuitem">
	<a href="/children-families-and-learning/common-assessment-framework-caf/" title="Common Assessment Framework (CAF)">
		Common Assessment Framework (CAF)
	</a>
	
</li>
				
					<li role="menuitem">
	<a href="/children-families-and-learning/children-in-care-and-care-leavers/" title="Children in care and care leavers">
		Children in care and care leavers
	</a>
	
</li>
				
					<li role="menuitem">
	<a href="/children-families-and-learning/support-for-young-carers-in-suffolk/" title="Support for young carers in Suffolk">
		Support for young carers in Suffolk
	</a>
	
</li>
				
					<li role="menuitem">
	<a href="/children-families-and-learning/suffolk-county-music-service/" title="Suffolk County Music Service">
		Suffolk County Music Service
	</a>
	
</li>
				
					<li role="menuitem">
	<a href="/children-families-and-learning/youth-support-and-careers-advice-work-experience-and-activities/" title="Youth support and careers advice, work experience and activities">
		Youth support and careers advice, work experience and activities
	</a>
	
</li>
				
					<li role="menuitem">
	<a href="/children-families-and-learning/pts/" title="Psychology and Therapeutic Services">
		Psychology and Therapeutic Services
	</a>
	
</li>
				
					<li role="menuitem">
	<a href="/children-families-and-learning/children-and-young-peoples-mental-health-and-emotional-wellbeing-support/" title="Children and young people&#039;s mental health and emotional wellbeing support">
		Children and young people's mental health and emotional wellbeing support
	</a>
	
</li>
				
					<li role="menuitem">
	<a href="/children-families-and-learning/wellbeing-for-education-return/" title="Wellbeing in Education ">
		Wellbeing in Education 
	</a>
	
</li>
				
					<li role="menuitem">
	<a href="/children-families-and-learning/research-governance/" title="Research governance">
		Research governance
	</a>
	
</li>
				
					<li role="menuitem">
	<a href="/children-families-and-learning/eat-well-feel-well-campaign/" title="Eat Well, Feel Well">
		Eat Well, Feel Well
	</a>
	
</li>
				
			</ul>
			
		</li>
		
		<li class="dropdown" role="menuitem">
			<a href="/care-and-support-for-adults/" aria-expanded="false" role="button" data-toggle="dropdown" class="dropdown-toggle">
				Care and support for adults
				<span class="i-wrapper">
					<i class="fa fa-plus"></i>
					<i class="fa fa-minus"></i>
				</span>
			</a>
			
			<ul role="menu" class="dropdown-menu">
				
					<li role="menuitem">
	<a href="/care-and-support-for-adults/where-to-start/" title="Where to start: adult care and support">
		Where to start: adult care and support
	</a>
	
</li>
				
					<li role="menuitem">
	<a href="/care-and-support-for-adults/self-assess-your-needs/" title="Self-assess your needs">
		Self-assess your needs
	</a>
	
</li>
				
					<li role="menuitem">
	<a href="/care-and-support-for-adults/help-to-stay-at-home/" title="Help to stay at home">
		Help to stay at home
	</a>
	
</li>
				
					<li role="menuitem">
	<a href="/care-and-support-for-adults/keep-well-and-active/" title="Keep well and active ">
		Keep well and active 
	</a>
	
</li>
				
					<li role="menuitem">
	<a href="/care-and-support-for-adults/how-social-care-can-help/" title="How adult social care can help">
		How adult social care can help
	</a>
	
</li>
				
					<li role="menuitem">
	<a href="/care-and-support-for-adults/paying-for-care/" title="Paying for care">
		Paying for care
	</a>
	
</li>
				
					<li role="menuitem">
	<a href="/care-and-support-for-adults/caring-for-someone/" title="Caring for someone">
		Caring for someone
	</a>
	
</li>
				
					<li role="menuitem">
	<a href="/care-and-support-for-adults/protecting-people-at-risk-of-abuse/" title="Protecting people at risk of abuse">
		Protecting people at risk of abuse
	</a>
	
</li>
				
					<li role="menuitem">
	<a href="/care-and-support-for-adults/working-with-adult-and-community-services/" title="Working with Adult and Community Services">
		Working with Adult and Community Services
	</a>
	
</li>
				
					<li role="menuitem">
	<a href="/care-and-support-for-adults/protecting-people-at-risk-of-abuse/report-abuse-of-an-adult/" title="Report abuse of an adult">
		Report abuse of an adult
	</a>
	
</li>
				
			</ul>
			
		</li>
		
		<li class="dropdown" role="menuitem">
			<a href="/jobs-and-careers/" aria-expanded="false" role="button" data-toggle="dropdown" class="dropdown-toggle">
				Jobs and careers
				<span class="i-wrapper">
					<i class="fa fa-plus"></i>
					<i class="fa fa-minus"></i>
				</span>
			</a>
			
			<ul role="menu" class="dropdown-menu">
				
					<li role="menuitem">
	<a href="/jobs-and-careers/opportunities/" title="Opportunities at Suffolk County Council">
		Opportunities at Suffolk County Council
	</a>
	
</li>
				
					<li role="menuitem">
	<a href="/jobs-and-careers/support-finding-employment/" title="Support finding employment ">
		Support finding employment 
	</a>
	
</li>
				
			</ul>
			
		</li>
		
		<li class="dropdown" role="menuitem">
			<a href="/roads-and-transport/" aria-expanded="false" role="button" data-toggle="dropdown" class="dropdown-toggle">
				Roads and transport
				<span class="i-wrapper">
					<i class="fa fa-plus"></i>
					<i class="fa fa-minus"></i>
				</span>
			</a>
			
			<ul role="menu" class="dropdown-menu">
				
					<li role="menuitem">
	<a href="/roads-and-transport/highway-maintenance/" title="Highway maintenance">
		Highway maintenance
	</a>
	
</li>
				
					<li role="menuitem">
	<a href="/roads-and-transport/highway-licences/" title="Highway licences">
		Highway licences
	</a>
	
</li>
				
					<li role="menuitem">
	<a href="/roads-and-transport/roads-pavements-and-verges/" title="Roads, pavements and verges">
		Roads, pavements and verges
	</a>
	
</li>
				
					<li role="menuitem">
	<a href="/roads-and-transport/parking/" title="Parking and Blue Badge">
		Parking and Blue Badge
	</a>
	
</li>
				
					<li role="menuitem">
	<a href="/roads-and-transport/roadworks/" title="Roadworks">
		Roadworks
	</a>
	
</li>
				
					<li role="menuitem">
	<a href="/roads-and-transport/flooding-and-drainage/" title="Flooding and drainage">
		Flooding and drainage
	</a>
	
</li>
				
					<li role="menuitem">
	<a href="/roads-and-transport/street-lighting-traffic-signals-and-pedestrian-crossings/" title="Street lighting, traffic signals and pedestrian crossings">
		Street lighting, traffic signals and pedestrian crossings
	</a>
	
</li>
				
					<li role="menuitem">
	<a href="/roads-and-transport/traffic-management-and-road-safety/" title="Traffic management and road safety">
		Traffic management and road safety
	</a>
	
</li>
				
					<li role="menuitem">
	<a href="/roads-and-transport/lorry-management/" title="Lorry management">
		Lorry management
	</a>
	
</li>
				
					<li role="menuitem">
	<a href="/roads-and-transport/public-transport/" title="Public transport">
		Public transport
	</a>
	
</li>
				
					<li role="menuitem">
	<a href="/roads-and-transport/transport-planning/" title="Transport strategy and planning">
		Transport strategy and planning
	</a>
	
</li>
				
					<li role="menuitem">
	<a href="/roads-and-transport/public-rights-of-way-in-suffolk/" title="Public rights of way and access in Suffolk">
		Public rights of way and access in Suffolk
	</a>
	
</li>
				
					<li role="menuitem">
	<a href="/roads-and-transport/quick-guides/" title="Quick guides ">
		Quick guides 
	</a>
	
</li>
				
			</ul>
			
		</li>
		
		<li class="dropdown" role="menuitem">
			<a href="/council-and-democracy/" aria-expanded="false" role="button" data-toggle="dropdown" class="dropdown-toggle">
				Council and democracy
				<span class="i-wrapper">
					<i class="fa fa-plus"></i>
					<i class="fa fa-minus"></i>
				</span>
			</a>
			
			<ul role="menu" class="dropdown-menu">
				
					<li role="menuitem">
	<a href="/council-and-democracy/the-council-and-its-committees/" title="The council and its committees">
		The council and its committees
	</a>
	
</li>
				
					<li role="menuitem">
	<a href="/council-and-democracy/councillors-and-elected-representatives/" title="Councillors and elected representatives">
		Councillors and elected representatives
	</a>
	
</li>
				
					<li role="menuitem">
	<a href="/council-and-democracy/budget-council-tax-and-finance/" title="Budget, Council tax and finance">
		Budget, Council tax and finance
	</a>
	
</li>
				
					<li role="menuitem">
	<a href="/council-and-democracy/our-aims-and-transformation-programmes/" title="Our aims and transformation programmes">
		Our aims and transformation programmes
	</a>
	
</li>
				
					<li role="menuitem">
	<a href="/council-and-democracy/council-directorates-services-and-senior-officers/" title="Council directorates and senior officers ">
		Council directorates and senior officers 
	</a>
	
</li>
				
					<li role="menuitem">
	<a href="/council-and-democracy/open-data-suffolk/" title="Open Data Suffolk">
		Open Data Suffolk
	</a>
	
</li>
				
					<li role="menuitem">
	<a href="/council-and-democracy/consultations-petitions-and-elections/" title="Consultations, petitions and elections">
		Consultations, petitions and elections
	</a>
	
</li>
				
					<li role="menuitem">
	<a href="/council-and-democracy/lieutenancy-and-honours/" title="Lieutenancy and honours">
		Lieutenancy and honours
	</a>
	
</li>
				
					<li role="menuitem">
	<a href="/council-and-democracy/borough-district-parish-and-town-councils/" title="Borough, district, parish and town councils">
		Borough, district, parish and town councils
	</a>
	
</li>
				
					<li role="menuitem">
	<a href="/council-and-democracy/suffolk-public-sector-leaders-group/" title="Suffolk Public Sector Leaders group">
		Suffolk Public Sector Leaders group
	</a>
	
</li>
				
					<li role="menuitem">
	<a href="/council-and-democracy/council-news/" title="Council news">
		Council news
	</a>
	
</li>
				
					<li role="menuitem">
	<a href="/council-and-democracy/suffolk-county-council-chairman-releases-statement-following-the-death-of-her-majesty-the-queen/" title="Suffolk County Council Chairman releases statement following the death of Her Majesty The Queen">
		Suffolk County Council Chairman releases statement following the death of Her Majesty The Queen
	</a>
	
</li>
				
					<li role="menuitem">
	<a href="/council-and-democracy/lord-lieutenant-of-suffolk-makes-statement-following-the-death-of-her-majesty-the-queen/" title="Lord-Lieutenant of Suffolk makes statement following the death of Her Majesty The Queen">
		Lord-Lieutenant of Suffolk makes statement following the death of Her Majesty The Queen
	</a>
	
</li>
				
					<li role="menuitem">
	<a href="/council-and-democracy/locations-of-physical-books-of-condolences-and-where-to-leave-floral-tributes/" title="Locations of physical books of condolences and where to leave floral tributes">
		Locations of physical books of condolences and where to leave floral tributes
	</a>
	
</li>
				
			</ul>
			
		</li>
		
		<li class="dropdown" role="menuitem">
			<a href="/suffolk-fire-and-rescue-service/" aria-expanded="false" role="button" data-toggle="dropdown" class="dropdown-toggle">
				Fire, rescue and emergencies
				<span class="i-wrapper">
					<i class="fa fa-plus"></i>
					<i class="fa fa-minus"></i>
				</span>
			</a>
			
			<ul role="menu" class="dropdown-menu">
				
					<li role="menuitem">
	<a href="/suffolk-fire-and-rescue-service/about-suffolk-fire-and-rescue-service/" title="About Suffolk Fire and Rescue Service">
		About Suffolk Fire and Rescue Service
	</a>
	
</li>
				
					<li role="menuitem">
	<a href="/suffolk-fire-and-rescue-service/map-of-fire-stations-in-suffolk/" title="Fire stations in Suffolk">
		Fire stations in Suffolk
	</a>
	
</li>
				
					<li role="menuitem">
	<a href="/suffolk-fire-and-rescue-service/fire-service-incidents-map/" title="Fire service incidents map">
		Fire service incidents map
	</a>
	
</li>
				
					<li role="menuitem">
	<a href="/suffolk-fire-and-rescue-service/fire-protection/" title="Fire protection">
		Fire protection
	</a>
	
</li>
				
					<li role="menuitem">
	<a href="/suffolk-fire-and-rescue-service/fire-safety-in-the-home/" title="Fire safety in the home">
		Fire safety in the home
	</a>
	
</li>
				
					<li role="menuitem">
	<a href="/suffolk-fire-and-rescue-service/fire-and-rescue-safety-advice-in-the-community/" title="Fire and rescue safety advice in the community">
		Fire and rescue safety advice in the community
	</a>
	
</li>
				
					<li role="menuitem">
	<a href="/suffolk-fire-and-rescue-service/fire-safety-for-farmers-and-rural-businesses/" title="Fire safety for farmers and rural businesses">
		Fire safety for farmers and rural businesses
	</a>
	
</li>
				
					<li role="menuitem">
	<a href="/suffolk-fire-and-rescue-service/suffolk-fire-and-rescue-service-diversity-inclusion-and-culture/" title="Suffolk Fire and Rescue diversity, inclusion and culture">
		Suffolk Fire and Rescue diversity, inclusion and culture
	</a>
	
</li>
				
					<li role="menuitem">
	<a href="/suffolk-fire-and-rescue-service/working-for-suffolk-fire-and-rescue-service/" title="Working for Suffolk Fire and Rescue Service">
		Working for Suffolk Fire and Rescue Service
	</a>
	
</li>
				
					<li role="menuitem">
	<a href="/suffolk-fire-and-rescue-service/youth-development/" title="Suffolk Fire and Rescue youth development">
		Suffolk Fire and Rescue youth development
	</a>
	
</li>
				
					<li role="menuitem">
	<a href="/suffolk-fire-and-rescue-service/road-safety-initiatives/" title="Road safety initiatives">
		Road safety initiatives
	</a>
	
</li>
				
					<li role="menuitem">
	<a href="/suffolk-fire-and-rescue-service/give-feedback-or-make-a-complaint-about-suffolk-fire-and-rescue/" title="Give feedback or make a complaint about Suffolk Fire and Rescue">
		Give feedback or make a complaint about Suffolk Fire and Rescue
	</a>
	
</li>
				
			</ul>
			
		</li>
		
		<li class="dropdown" role="menuitem">
			<a href="/business/" aria-expanded="false" role="button" data-toggle="dropdown" class="dropdown-toggle">
				Business and licences
				<span class="i-wrapper">
					<i class="fa fa-plus"></i>
					<i class="fa fa-minus"></i>
				</span>
			</a>
			
			<ul role="menu" class="dropdown-menu">
				
					<li role="menuitem">
	<a href="/business/council-services-for-business/" title="Council services for business">
		Council services for business
	</a>
	
</li>
				
					<li role="menuitem">
	<a href="/business/economic-development-and-inward-investment/" title="Economic Development and inward investment">
		Economic Development and inward investment
	</a>
	
</li>
				
					<li role="menuitem">
	<a href="/business/projects-and-programmes/" title="Projects and programmes">
		Projects and programmes
	</a>
	
</li>
				
					<li role="menuitem">
	<a href="/business/tenders-and-supplying-us/" title="Tenders and supplying us">
		Tenders and supplying us
	</a>
	
</li>
				
					<li role="menuitem">
	<a href="/business/supporting-employers-training-your-workforce/" title="Recruit, inspire and develop your workforce">
		Recruit, inspire and develop your workforce
	</a>
	
</li>
				
					<li role="menuitem">
	<a href="/business/business-continuity-management/" title="Business continuity management">
		Business continuity management
	</a>
	
</li>
				
					<li role="menuitem">
	<a href="/business/it-services-for-schools-and-academies/" title="IT services for schools and academies">
		IT services for schools and academies
	</a>
	
</li>
				
			</ul>
			
		</li>
		
		<li class="dropdown" role="menuitem">
			<a href="/planning-waste-and-environment/" aria-expanded="false" role="button" data-toggle="dropdown" class="dropdown-toggle">
				Planning, waste and environment
				<span class="i-wrapper">
					<i class="fa fa-plus"></i>
					<i class="fa fa-minus"></i>
				</span>
			</a>
			
			<ul role="menu" class="dropdown-menu">
				
					<li role="menuitem">
	<a href="/planning-waste-and-environment/waste-and-recycling/" title="Waste and recycling">
		Waste and recycling
	</a>
	
</li>
				
					<li role="menuitem">
	<a href="/planning-waste-and-environment/planning-applications/" title="Planning applications">
		Planning applications
	</a>
	
</li>
				
					<li role="menuitem">
	<a href="/planning-waste-and-environment/minerals-and-waste-policy/" title="Minerals and waste policy">
		Minerals and waste policy
	</a>
	
</li>
				
					<li role="menuitem">
	<a href="/planning-waste-and-environment/planning-and-development-advice/" title="Planning and development advice">
		Planning and development advice
	</a>
	
</li>
				
					<li role="menuitem">
	<a href="/planning-waste-and-environment/fly-tipping/" title="Fly-tipping">
		Fly-tipping
	</a>
	
</li>
				
					<li role="menuitem">
	<a href="/planning-waste-and-environment/suffolks-countryside-and-wildlife/" title="Suffolk&#039;s countryside and wildlife">
		Suffolk's countryside and wildlife
	</a>
	
</li>
				
					<li role="menuitem">
	<a href="/planning-waste-and-environment/major-infrastructure-projects/" title="Major infrastructure projects">
		Major infrastructure projects
	</a>
	
</li>
				
					<li role="menuitem">
	<a href="/planning-waste-and-environment/initiatives/" title="Initiatives">
		Initiatives
	</a>
	
</li>
				
					<li role="menuitem">
	<a href="/planning-waste-and-environment/buildings-in-suffolk/" title="Buildings in Suffolk">
		Buildings in Suffolk
	</a>
	
</li>
				
					<li role="menuitem">
	<a href="/planning-waste-and-environment/open-data/" title="Open data">
		Open data
	</a>
	
</li>
				
			</ul>
			
		</li>
		
		<li class="dropdown" role="menuitem">
			<a href="/community-and-safety/" aria-expanded="false" role="button" data-toggle="dropdown" class="dropdown-toggle">
				Trading Standards, community and safety
				<span class="i-wrapper">
					<i class="fa fa-plus"></i>
					<i class="fa fa-minus"></i>
				</span>
			</a>
			
			<ul role="menu" class="dropdown-menu">
				
					<li role="menuitem">
	<a href="/community-and-safety/suffolk-trading-standards/" title="Suffolk Trading Standards">
		Suffolk Trading Standards
	</a>
	
</li>
				
					<li role="menuitem">
	<a href="/community-and-safety/emergency-planning/" title="Emergency planning">
		Emergency planning
	</a>
	
</li>
				
					<li role="menuitem">
	<a href="/community-and-safety/staying-safe-online/" title="Staying safe online">
		Staying safe online
	</a>
	
</li>
				
					<li role="menuitem">
	<a href="/community-and-safety/road-safety-initiatives/" title="Road safety initiatives">
		Road safety initiatives
	</a>
	
</li>
				
					<li role="menuitem">
	<a href="/community-and-safety/suffolk-safekey/" title="Suffolk SAFEKey">
		Suffolk SAFEKey
	</a>
	
</li>
				
					<li role="menuitem">
	<a href="/community-and-safety/communities/" title="Communities ">
		Communities 
	</a>
	
</li>
				
					<li role="menuitem">
	<a href="/community-and-safety/suffolk-resilience/" title="Suffolk Resilience">
		Suffolk Resilience
	</a>
	
</li>
				
			</ul>
			
		</li>
		
		<li class="dropdown" role="menuitem">
			<a href="/births-deaths-and-ceremonies/" aria-expanded="false" role="button" data-toggle="dropdown" class="dropdown-toggle">
				Births, deaths and ceremonies
				<span class="i-wrapper">
					<i class="fa fa-plus"></i>
					<i class="fa fa-minus"></i>
				</span>
			</a>
			
			<ul role="menu" class="dropdown-menu">
				
					<li role="menuitem">
	<a href="/births-deaths-and-ceremonies/how-to-register-a-birth/" title="How to register a birth">
		How to register a birth
	</a>
	
</li>
				
					<li role="menuitem">
	<a href="/births-deaths-and-ceremonies/how-to-register-a-death/" title="How to register a death">
		How to register a death
	</a>
	
</li>
				
					<li role="menuitem">
	<a href="/births-deaths-and-ceremonies/ceremonies/" title="Ceremonies">
		Ceremonies
	</a>
	
</li>
				
					<li role="menuitem">
	<a href="/births-deaths-and-ceremonies/contact-a-register-office/" title="Contact a register office">
		Contact a register office
	</a>
	
</li>
				
					<li role="menuitem">
	<a href="/births-deaths-and-ceremonies/fees-paid-to-suffolk-registration-service/" title="Suffolk Registration Service fees">
		Suffolk Registration Service fees
	</a>
	
</li>
				
					<li role="menuitem">
	<a href="/births-deaths-and-ceremonies/apply-for-a-copy-of-a-birth-marriage-or-death-certificate/" title="Apply for a copy of a birth, marriage, civil partnership or death certificate">
		Apply for a copy of a birth, marriage, civil partnership or death certificate
	</a>
	
</li>
				
					<li role="menuitem">
	<a href="/births-deaths-and-ceremonies/citizenship-ceremonies/" title="Citizenship ceremonies">
		Citizenship ceremonies
	</a>
	
</li>
				
					<li role="menuitem">
	<a href="/births-deaths-and-ceremonies/the-coroner-service/" title="The Coroner service">
		The Coroner service
	</a>
	
</li>
				
					<li role="menuitem">
	<a href="/births-deaths-and-ceremonies/apply-for-a-venue-licence-for-marriages-and-civil-partnerships/" title="Apply for a venue licence for marriages and civil partnerships">
		Apply for a venue licence for marriages and civil partnerships
	</a>
	
</li>
				
			</ul>
			
		</li>
		
		<li class="dropdown" role="menuitem">
			<a href="/culture-heritage-and-leisure/" aria-expanded="false" role="button" data-toggle="dropdown" class="dropdown-toggle">
				Culture, heritage and leisure
				<span class="i-wrapper">
					<i class="fa fa-plus"></i>
					<i class="fa fa-minus"></i>
				</span>
			</a>
			
			<ul role="menu" class="dropdown-menu">
				
					<li role="menuitem">
	<a href="/culture-heritage-and-leisure/suffolk-archives/" title="Suffolk Archives">
		Suffolk Archives
	</a>
	
</li>
				
					<li role="menuitem">
	<a href="/culture-heritage-and-leisure/suffolk-archaeological-service/" title="Suffolk Archaeological Service">
		Suffolk Archaeological Service
	</a>
	
</li>
				
					<li role="menuitem">
	<a href="/culture-heritage-and-leisure/most-active-county-find-activities-and-events/" title="Most Active County: find activities and events">
		Most Active County: find activities and events
	</a>
	
</li>
				
					<li role="menuitem">
	<a href="/culture-heritage-and-leisure/suffolk-arts-service/" title="Suffolk Arts Service">
		Suffolk Arts Service
	</a>
	
</li>
				
					<li role="menuitem">
	<a href="/planning-waste-and-environment/suffolks-countryside-and-wildlife/exploring-the-suffolk-countryside/" title="Exploring the Suffolk countryside">
		Exploring the Suffolk countryside
	</a>
	
</li>
				
					<li role="menuitem">
	<a href="/culture-heritage-and-leisure/museums-and-galleries-in-suffolk/" title="Museums and galleries in Suffolk">
		Museums and galleries in Suffolk
	</a>
	
</li>
				
					<li role="menuitem">
	<a href="/about/online-services/apply-for-permission-to-film-in-suffolk/" title="Apply for permission to film in Suffolk">
		Apply for permission to film in Suffolk
	</a>
	
</li>
				
					<li role="menuitem">
	<a href="/culture-heritage-and-leisure/libraries/" title="Libraries">
		Libraries
	</a>
	
</li>
				
			</ul>
			
		</li>
		
		<li class="dropdown" role="menuitem">
			<a href="/about/" aria-expanded="false" role="button" data-toggle="dropdown" class="dropdown-toggle">
				About
				<span class="i-wrapper">
					<i class="fa fa-plus"></i>
					<i class="fa fa-minus"></i>
				</span>
			</a>
			
			<ul role="menu" class="dropdown-menu">
				
					<li role="menuitem">
	<a href="https://contact.suffolk.gov.uk/" title="Contact us">
		Contact us
	</a>
	
</li>
				
					<li role="menuitem">
	<a href="/about/how-to-find-us/" title="Suffolk County Council offices">
		Suffolk County Council offices
	</a>
	
</li>
				
					<li role="menuitem">
	<a href="/about/online-services/" title="Online services">
		Online services
	</a>
	
</li>
				
					<li role="menuitem">
	<a href="/about/compliments-and-complaints/" title="Compliments and complaints ">
		Compliments and complaints 
	</a>
	
</li>
				
					<li role="menuitem">
	<a href="/about/freedom-of-information/" title="Make a Freedom Of Information (FOI) request">
		Make a Freedom Of Information (FOI) request
	</a>
	
</li>
				
					<li role="menuitem">
	<a href="/about/you-said-we-did/" title="You said, we did">
		You said, we did
	</a>
	
</li>
				
					<li role="menuitem">
	<a href="/about/our-website-and-social-media/" title="Our website and social media">
		Our website and social media
	</a>
	
</li>
				
					<li role="menuitem">
	<a href="/about/severe-weather-information-and-services/" title="Severe weather information">
		Severe weather information
	</a>
	
</li>
				
					<li role="menuitem">
	<a href="/about/secure-emails/" title="Secure emails">
		Secure emails
	</a>
	
</li>
				
					<li role="menuitem">
	<a href="/about/web-accessibility/" title="Accessibility">
		Accessibility
	</a>
	
</li>
				
					<li role="menuitem">
	<a href="/about/terms-and-conditions/" title="Terms and conditions">
		Terms and conditions
	</a>
	
</li>
				
					<li role="menuitem">
	<a href="/about/cookies/" title="Cookies">
		Cookies
	</a>
	
</li>
				
					<li role="menuitem">
	<a href="/about/terms-and-conditions-for-domain-names/" title="Terms and conditions for domain names">
		Terms and conditions for domain names
	</a>
	
</li>
				
					<li role="menuitem">
	<a href="/about/privacy-and-data-protection/" title="Privacy and data protection">
		Privacy and data protection
	</a>
	
</li>
				
					<li role="menuitem">
	<a href="/about/privacy-notice/" title="Privacy notice">
		Privacy notice
	</a>
	
</li>
				
					<li role="menuitem">
	<a href="https://contact.suffolk.gov.uk/" title="Contact us">
		Contact us
	</a>
	
</li>
				
					<li role="menuitem">
	<a href="/about/bank-holiday/" title="Bank Holiday">
		Bank Holiday
	</a>
	
</li>
				
			</ul>
			
		</li>
		
	</ul>
</div>

			</div>
		</div>
	</div>
</div>

        <a name="content"></a>
        <div class="content-page-wrapper home-wrapper">
    


    <div class="transactions-section">
        <div class="container site-intro">

            <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7">
                <h1>Suffolk County Council</h1>
                <p>Find local government services and information.</p>
                
                    <form name="site-search" aria-label="Search" id="SccSearchForm_SCCSearchForm" enctype="application/x-www-form-urlencoded" method="get" action="https://search.suffolk.gov.uk/" grole="form">
                        <div class="input-group">
                            <label for="SccSearchForm_SCCSearchForm" class="hidden">Search: </label>
                            <input type="text" title="Search button" class="form-control site-search" name="q" aria-describedby="SccSearchForm_SCCSearchForm">
                            <span class="input-group-btn">
                                <button class="btn scc-red-btn-homepage" name="action_results" type="submit">
                                    <p>Search</p>
                                </button>
                            </span>
                        </div>
                    </form>
                

            </div>




            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 transaction-header" aria-label="Popular Links">
                <div class="container transaction-header">
                  <div class="home-popularLinks" role="Popular Links">
                      <h2>Popular on suffolk.gov.uk</h2>
                        <ul class="home-popularLinks">
                            
                                <li><a href="/community-and-safety/communities/healthier/cost-of-living-support/">Cost of living support</a></li>
                            
                                <li><a href="/children-families-and-learning/schools/school-and-college-travel/">School and college travel</a></li>
                            
                                <li><a href="/planning-waste-and-environment/waste-and-recycling/book-a-recycling-centre-time-slot/">Booking a Recycling Centre time slot</a></li>
                            
                                <li><a href="/roads-and-transport/parking/blue-badge-scheme/">Blue badge scheme</a></li>
                            
                                <li><a href="/council-and-democracy/budget-council-tax-and-finance/the-budget-for-suffolk/">Your thoughts on the council's budget</a></li>
                            
                        </ul>
                    </div>
                </div>
            </div>
        </div>


        <div class="services-main services-new home-section" aria-label="Main">
            <div class="arrow-down-white"></div>
            <div class="row" aria-label="Navigation">
                <!--SERVICES-->


<div class="container">
    <div class="services-wrapper">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <ul class="services_menu">
                
                    <li class="nav__item">
                        <h2 class="nav_heading"><a href="/roads-and-transport/">Roads and transport</a></h2>
                        <p>Includes: <a href="/roads-and-transport/highway-maintenance/report-a-highways-issue/">Report a highways issue</a> <a href="/roads-and-transport/roadworks/roadworks-in-suffolk/">Roadworks</a> <a href="/roads-and-transport/public-transport/">Public transport</a> <a href="/roads-and-transport/parking/blue-badge-scheme/">Blue Badge scheme</a> </p>
                    </li>
                
                    <li class="nav__item">
                        <h2 class="nav_heading"><a href="/care-and-support-for-adults/">Care and support for adults</a></h2>
                        <p>Includes: <a href="/care-and-support-for-adults/where-to-start/">Where to start</a> <a href="/care-and-support-for-adults/self-assess-your-needs/">Self-assess your needs</a> <a href="/care-and-support-for-adults/paying-for-care/">Paying for care</a> <a href="/about/online-services/pay-an-invoice/">Pay a care invoice</a> </p>
                    </li>
                
                    <li class="nav__item">
                        <h2 class="nav_heading"><a href="/children-families-and-learning/">Children, families and learning</a></h2>
                        <p>Includes: <a href="/children-families-and-learning/schools/school-and-college-travel/">School transport</a> <a href="/children-families-and-learning/schools/school-places/">School places</a> <a href="/children-families-and-learning/schools/school-term-and-holiday-dates/">Term dates</a> <a href="/children-families-and-learning/childrens-health/">Health and Children&#039;s Centres</a> </p>
                    </li>
                
                    <li class="nav__item">
                        <h2 class="nav_heading"><a href="/council-and-democracy/">Council and democracy</a></h2>
                        <p>Includes: <a href="/council-and-democracy/budget-council-tax-and-finance/council-tax/">Council Tax</a> <a href="/council-and-democracy/councillors-and-elected-representatives/find-your-councillor/">Find your councillor</a> <a href="/council-and-democracy/council-directorates-services-and-senior-officers/fraud-and-corruption/">Fraud and corruption</a> <a href="/council-and-democracy/consultations-petitions-and-elections/consultations/">Consultations and Engagement</a> </p>
                    </li>
                
                    <li class="nav__item">
                        <h2 class="nav_heading"><a href="/business/">Business</a></h2>
                        <p>Includes: <a href="/business/tenders-and-supplying-us/">Tenders and supplying us</a> <a href="/">Funding</a> <a href="/business/economic-development-and-inward-investment/">Economic development</a> <a href="/about/online-services/pay-an-invoice/">Pay an invoice</a> </p>
                    </li>
                
                    <li class="nav__item">
                        <h2 class="nav_heading"><a href="/jobs-and-careers/">Jobs and careers</a></h2>
                        <p>Includes: <a href="/jobs-and-careers/opportunities/teach-suffolk/">Teaching</a> <a href="/jobs-and-careers/opportunities/">Working for us</a> <a href="/jobs-and-careers/opportunities/apprenticeships/">Apprenticeships</a> <a href="/jobs-and-careers/opportunities/opus/">Temporary vacancies</a> </p>
                    </li>
                
                    <li class="nav__item">
                        <h2 class="nav_heading"><a href="/suffolk-fire-and-rescue-service/">Fire and Rescue Service</a></h2>
                        <p>Includes: <a href="/suffolk-fire-and-rescue-service/fire-service-incidents-map/">Live incidents</a> <a href="/suffolk-fire-and-rescue-service/map-of-fire-stations-in-suffolk/">Fire stations</a> <a href="/suffolk-fire-and-rescue-service/working-for-suffolk-fire-and-rescue-service/">Working for Fire and Rescue</a> <a href="/suffolk-fire-and-rescue-service/fire-safety-in-the-home/">Fire safety</a> </p>
                    </li>
                
                    <li class="nav__item">
                        <h2 class="nav_heading"><a href="/community-and-safety/suffolk-trading-standards/">Trading Standards</a></h2>
                        <p>Includes: <a href="/community-and-safety/suffolk-trading-standards/report-a-product-or-trader-to-trading-standards/">Report a product or service</a> <a href="/community-and-safety/suffolk-trading-standards/scams/">Scams</a> <a href="/community-and-safety/suffolk-trading-standards/trading-standards-certificates-or-licences/">Trading Standards certificates or licences</a> </p>
                    </li>
                
                    <li class="nav__item">
                        <h2 class="nav_heading"><a href="/planning-waste-and-environment/">Planning, waste, environment</a></h2>
                        <p>Includes: <a href="/planning-waste-and-environment/waste-and-recycling/book-a-recycling-centre-time-slot/">Book a Recycling Centre slot</a> <a href="/planning-waste-and-environment/planning-applications/">Planning applications</a> <a href="/planning-waste-and-environment/suffolks-countryside-and-wildlife/">Countryside</a> </p>
                    </li>
                
                    <li class="nav__item">
                        <h2 class="nav_heading"><a href="/births-deaths-and-ceremonies/">Births, deaths and ceremonies</a></h2>
                        <p>Includes: <a href="/births-deaths-and-ceremonies/ceremonies/">Ceremonies</a> <a href="/births-deaths-and-ceremonies/how-to-register-a-death/">Register a death</a> <a href="/births-deaths-and-ceremonies/how-to-register-a-birth/">Register a birth</a> <a href="/births-deaths-and-ceremonies/the-coroner-service/">Coroner</a> <a href="/births-deaths-and-ceremonies/contact-a-register-office/">Register offices</a> </p>
                    </li>
                
                    <li class="nav__item">
                        <h2 class="nav_heading"><a href="/community-and-safety/">Community and safety</a></h2>
                        <p>Includes: <a href="/community-and-safety/communities/">Communities</a> <a href="/community-and-safety/emergency-planning/">Emergency planning</a> <a href="/community-and-safety/staying-safe-online/">Online safety</a> <a href="/community-and-safety/road-safety-initiatives/">Road safety</a> </p>
                    </li>
                
                    <li class="nav__item">
                        <h2 class="nav_heading"><a href="/culture-heritage-and-leisure/">Culture, heritage and leisure</a></h2>
                        <p>Includes: <a href="/culture-heritage-and-leisure/suffolk-archives/">Suffolk Archives</a> <a href="/culture-heritage-and-leisure/libraries/">Libraries</a> <a href="/culture-heritage-and-leisure/suffolk-archaeological-service/">Archaeological Service</a> <a href="/about/online-services/apply-for-permission-to-film-in-suffolk/">Filming in Suffolk</a> </p>
                    </li>
                
            </ul>
        </div>
    </div>
</div>


            </div>
        </div>

        <!--ANNOUNCEMENTS-->
        <div class="announcements home-section" role="News and Social Media">
            <div class="arrow-down-lighter-blue"></div>

            <div class="container topical-today">
                <div class="row">
                    
                        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 topical-item">
                            <div class="topical-item-wrapper">
                                <div class="topical-image">
                                    
                                    <a href="/council-and-democracy/budget-council-tax-and-finance/the-budget-for-suffolk/" title="The Budget for Suffolk">
                                    
                                    
                                        <img src="/assets/council-and-democracy/budget-and-finance/Cartoon-image-of-people-giving-their-opinion.jpg" alt="Cartoon image of people giving their opinion" class="img-responsive" />

                                    
                                </a>
                                </div>
                                <h3>
                                    
                                    <a href="/council-and-democracy/budget-council-tax-and-finance/the-budget-for-suffolk/" title="The Budget for Suffolk">
                                    
                                    The Budget for Suffolk
                                </a>
                                </h3>
                                <p>
                                    
                                        Suffolk County Council is keen to hear from Suffolk residents, businesses and local communities, as it decides its budget for next year.
                                    
                                </p>
                            </div>
                        </div>
                    
                        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 topical-item">
                            <div class="topical-item-wrapper">
                                <div class="topical-image">
                                    
                                    <a href="/community-and-safety/communities/community-engagement/support-for-refugees/support-for-ukraine/" title="Support for Ukraine">
                                    
                                    
                                        <img src="/assets/community-and-safety/Communities/Support-for-Ukraine/Suffolk-County-Council-with-Ukraine-colours-resized.jpg" alt="Suffolk County Council with Ukraine colours resized" class="img-responsive" />

                                    
                                </a>
                                </div>
                                <h3>
                                    
                                    <a href="/community-and-safety/communities/community-engagement/support-for-refugees/support-for-ukraine/" title="Support for Ukraine">
                                    
                                    Support for Ukraine
                                </a>
                                </h3>
                                <p>
                                    
                                        Information for sponsors, guests from Ukraine and the wider community.
                                    
                                </p>
                            </div>
                        </div>
                    
                        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 topical-item">
                            <div class="topical-item-wrapper">
                                <div class="topical-image">
                                    
                                    <a href="/children-families-and-learning/eat-well-feel-well-campaign/" title="Eat Well, Feel Well">
                                    
                                    
                                        <img src="/assets/suffolk.gov.uk/_resampled/SetWidth600-Eat-Well-Feel-Well.jpg" alt="Eat Well Feel Well" class="img-responsive" />

                                    
                                </a>
                                </div>
                                <h3>
                                    
                                    <a href="/children-families-and-learning/eat-well-feel-well-campaign/" title="Eat Well, Feel Well">
                                    
                                    Eat Well, Feel Well Campaign
                                </a>
                                </h3>
                                <p>
                                    
                                        From 31 October to 4 November, there will be free online workshops and activities for parents, carers, teachers and young people for advice on eating well.
                                    
                                </p>
                            </div>
                        </div>
                    
                </div>
            </div>
        </div>



        <!-- NEWS & SOCIAL -->

        <div class="container-fluid footer-content-wrapper" aria-label="News and Social Media">
            <div class="row">
                <div class="container">
                    <div class="footer-content">
                        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 news-items">
    <h3>
        <a href="/council-and-democracy/council-news/">
            Latest news
        </a>
    </h3>
    
    <div class="news-item">
        <h4><a href="/council-and-democracy/council-news/show/success-for-suffolk-at-national-social-worker-awards-and-the-start-of-occupational-therapy-week" title="Success for Suffolk at National Social Worker awards, and the start of Occupational Therapy week">Success for Suffolk at National Social Worker awards, and the start of Occupational Therapy week</a></h4>
        <p>Column by Councillor Beccy Hopfensperger</p>


    </div>
    
    <div class="news-item">
        <h4><a href="/council-and-democracy/council-news/show/suffolk-county-council-to-host-an-adult-learning-event" title="Suffolk County Council to host an adult learning event">Suffolk County Council to host an adult learning event</a></h4>
        <p>Suffolk County Council is to host an adult learning engagement event to highlight the learning opportunities and services available to adults in Suffolk.</p>


    </div>
    
    <div class="news-item">
        <h4><a href="/council-and-democracy/council-news/show/colin-law-way-at-gull-wing-bridge-in-lowestoft-is-formally-opened" title="Colin Law Way at Gull Wing Bridge in Lowestoft is formally opened">Colin Law Way at Gull Wing Bridge in Lowestoft is formally opened</a></h4>
        <p>A road named in honour of a councillor who helped bring the Gull Wing bridge to Lowestoft has been formally opened.</p>


    </div>
    

     <p></p>

    <h4 class="hidden-xs">
        Follow us
    </h4>

        <ul class="social-icons hidden-xs">
            <li><a href="https://www.facebook.com/pages/Suffolk-County-Council/158525844191005" title="Suffolk Councy Council Facebook"><i class="fa fa-2x fa-facebook-square"></i><span class="visually-hidden">Facebook Link</span></a></li>
            <li><a href="https://twitter.com/suffolkcc" title="Suffolk Councy Council Twitter"><i class="fa fa-2x fa-twitter-square"></i><span class="visually-hidden">Twitter Link</span></a></li>
            <li><a href="https://youtube.com/user/SuffolkCC" title="Suffolk County Council Youtube"><i class="fa fa-2x fa-youtube-square"></i><span class="visually-hidden">Youtube Link</span></a></li>
            <li><a href="https://www.flickr.com/photos/suffolkcountycouncil/" title="Suffolk County Council Flickr"><i class="fa fa-2x fa-flickr"></i><span class="visually-hidden">Flickr Link</span></a></li>
        </ul>




</div>
                        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
    <div class="scc__twitter__feed">
    
        <a class="twitter-timeline" href="https://twitter.com/suffolkcc?ref_src=twsrc%5Etfw">Tweets by suffolkcc</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
</div>
                    </div>
                </div>
            </div>
        </div>




        
<div class="container-fluid footer-wrapper" role="Footer" aria-label="Footer">
	<div class="row">
		<div class="container footer-inner">
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-7 col-lg-6 hidden-print">
					<ul class="social-icons visible-xs visible-sm">
						<li><a href="https://www.facebook.com/pages/Suffolk-County-Council/158525844191005" title="Suffolk County Council Facebook"><i class="fa fa-2x fa-facebook-square"></i><span class="visually-hidden">Facebook</span></a></li>
						<li><a href="https://twitter.com/suffolkcc" title="Suffolk County Council Twitter"><i class="fa fa-2x fa-twitter-square"></i><span class="visually-hidden">Twitter</span></a></li>
						<li><a href="https://youtube.com/user/SuffolkCC" title="Suffolk County Council Youtube"><i class="fa fa-2x fa-youtube-square"></i><span class="visually-hidden">Youtube</span></a></li>
						<li><a href="https://www.flickr.com/photos/suffolkcountycouncil/" title="Suffolk County Council Flickr"><i class="fa fa-2x fa-flickr"></i><span class="visually-hidden">Flickr</span></a></li>
					</ul>

					<ul>
                        
    
        <li>
            <a href="https://contact.suffolk.gov.uk/" title="Contact">
                Contact
            </a>
        </li>
    
        <li>
            <a href="/about/web-accessibility/" title="Accessibility">
                Accessibility
            </a>
        </li>
    
        <li>
            <a href="/about/privacy-and-data-protection/" title="Privacy">
                Privacy
            </a>
        </li>
    
        <li>
            <a href="/about/cookies/" title="Cookies">
                Cookies
            </a>
        </li>
    
        <li>
            <a href="/about/terms-and-conditions/" title="Terms and conditions">
                Terms and conditions
            </a>
        </li>
    
        <li>
            <a href="/council-and-democracy/our-aims-and-transformation-programmes/modern-slavery-statement/" title="Modern slavery">
                Modern slavery
            </a>
        </li>
    

					</ul>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-5 col-lg-6">
					<div class="copyright">
						<p>Site and content &copy; Suffolk County Council 2022</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>



    <!-- Click4Assistance web chat code -->

    


    <!-- Site Improve -->
            <script type="text/javascript">
            /*<![CDATA[*/
                (function() {
                var sz = document.createElement('script'); sz.type = 'text/javascript'; sz.async = true;
                sz.src = '//siteimproveanalytics.com/js/siteanalyze_456406.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(sz, s);
                })();
                /*]]>*/
            </script> 
            <!-- Site Improve -->  

            <!-- Site search -->

    </body>
</html>
